<template>
  <div class="flex text-sm flex-col md:flex-row">
    <button class="md:hidden w-8 ml-8 mt-8" @click="handleMenuClick">
      <img :src="menu" />
    </button>
    <ItemList
      :items="events"
      :selectedIndex="selectedIndex"
      @onSelect="handleSelect"
      title="Mes évènements"
      class="hidden md:flex"
    />
    <ItemList
      :items="events"
      :selectedIndex="selectedIndex"
      @onSelect="handleSelect"
      title="Mes évènements"
      v-if="showMenu"
      class="w-screen md:hidden"
    />
    <EventForm :event="selectedEvent" v-if="selectedEvent" />
    <div v-else class="flex flex-1 items-center justify-center h-screen">
      <h3 class="text-xl">Aucun évènement sélectionné</h3>
    </div>
  </div>
</template>
<script>
import { mapActions } from "vuex";

import EventForm from "../../components/EventForm";
import ItemList from "../../components/ItemList";
import menu from "../../../assets/menu.svg";

export default {
  name: "Event",
  components: {
    ItemList,
    EventForm,
  },
  created() {
    this.getEvents();
  },
  data() {
    return { menu, showMenu: false, selectedIndex: -1 };
  },
  computed: {
    events() {
      return this.$store.getters["event/events"];
    },
    selectedEvent() {
      return this.$store.getters["event/selectedEvent"];
    },
  },
  methods: {
    ...mapActions("event", ["getEvents"]),
    handleMenuClick() {
      this.showMenu = !this.showMenu;
    },
    handleSelect({ selectedEvent, index }) {
      this.selectedIndex = index;
      this.showMenu = false;
      this.$store.commit("event/setSelectedEvent", {
        selectedEvent,
      });
    },
  },
};
</script>