<template>
  <div>
    <label class="font-semibold">{{ label }}</label>
    <div
      class="flex rounded-2xl focus:ring-2 focus:ring-green-400 focus:border-transparent p-1 px-2 text-sm border-gray-200 border flex-wrap"
    >
      <div
        v-for="(chip, index) in chips"
        :key="chip"
        class="flex relative mr-2 bg-green-400 px-2 rounded-full text-white my-0.5"
      >
        <p class="mr-2">{{ chip }}</p>
        <button @click="deleteChip(index)" class="-mt-2 text-xs">x</button>
      </div>
      <input
        v-model="currentInput"
        @keypress.enter="saveChip"
        @keydown.delete="backSpaceDelete"
      />
    </div>
  </div>
</template>
<script>
export default {
  name: "Chips",
  props: {
    value: {
      type: Array,
      default: () => [],
    },
    label: String,
  },
  watch: {
    value(newValue) {
      this.chips = [...newValue];
    },
  },
  methods: {
    saveChip() {
      this.chips = [...this.chips, this.currentInput];
      this.currentInput = "";
      this.$emit("onChange", this.chips);
    },
    deleteChip(index) {
      this.chips.splice(index, 1);
      this.$emit("onChange", this.chips);
    },
    backSpaceDelete() {
      if (this.currentInput === "") {
        this.chips.pop();
        this.$emit("onChange", this.chips);
      }
    },
  },
  data() {
    return {
      chips: [...this.value],
      currentInput: "",
    };
  },
};
</script>