<template>
  <div class="p-8 mt-0 md:mt-8 flex flex-col flex-1">
    <h3 class="text-xl font-medium">{{ event.title }}</h3>
    <p class="font-light">
      Créé le {{ formatDateWithHour(event.creationDate) }} par
      {{ event.createdBy }}
    </p>
    <div class="space-y-4 mt-4">
      <Input
        name="title"
        label="Titre"
        :value="event.title"
        @input="handleChange"
      />
      <Textarea
        name="description"
        label="Description"
        :value="event.description"
        @input="handleChange"
      />
      <div class="flex space-x-4">
        <Input
          name="date"
          label="Date"
          type="date"
          placeholder="YYYY-MM-DD"
          :value="formatDate(event.creationDate)"
          disabled
        />
        <Input
          name="heure"
          label="Heure"
          type="time"
          :value="formatDateToHour(event.creationDate)"
          disabled
        />
      </div>
      <Select
        name="statusName"
        label="Nom du statut"
        idKey="value"
        valueKey="label"
        :options="status"
        :value="event.statusName"
        @change="handleChange"
      />
      <Select
        name="involvedEmployeeId"
        label="Employé impliqué"
        valueKey="displayName"
        :options="employees"
        :value="`${event.involvedEmployeeId}`"
        @change="handleChange"
      />
      <Chips
        :value="event.Témoins"
        @onChange="handleWitnessesChange"
        label="Témoins"
      />
    </div>
  </div>
</template>

<script>
import Input from "./Input";
import Textarea from "./Textarea";
import Select from "./Select";
import Chips from "./Chips";
import {
  formatDateWithHour,
  formatDate,
  formatDateToHour,
  formatDateToTimezone,
} from "../../shared/date.utils";
import { status, getEmployees } from "../../mock/data";

export default {
  name: "EventForm",
  components: {
    Input,
    Textarea,
    Select,
    Chips,
  },
  computed: {
    employees() {
      return getEmployees().map(({ firstname, lastname, id }) => ({
        id,
        firstname,
        lastname,
        displayName: `${firstname} ${lastname} (${id})`,
      }));
    },
  },
  methods: {
    formatDateToHour,
    formatDateWithHour,
    formatDate,
    formatDateToTimezone,
    handleChange(e) {
      const { name, value } = e.target;
      console.log(isNaN(value));
      this.$store.commit("event/updateEvent", {
        [name]: isNaN(value) || value === "" ? value : parseInt(value, 10),
        id: this.event.id,
      });
    },
    handleWitnessesChange(witnesses) {
      this.$store.commit("event/updateEvent", {
        Témoins: witnesses,
        id: this.event.id,
      });
    },
  },
  data() {
    return { status };
  },
  props: {
    event: {
      type: Object,
      default: null,
    },
  },
};
</script>