<template>
  <div class="flex flex-col">
    <label :for="id || name" v-if="label" class="font-semibold">{{
      label
    }}</label>
    <input
      :name="name"
      :placeholder="placeholder"
      :type="type"
      :value="value"
      :disabled="disabled"
      class="rounded-2xl focus:ring-2 focus:ring-green-400 focus:border-transparent p-1 px-2 text-sm border-gray-200"
    />
  </div>
</template>
<script>
export default {
  name: "Input",
  props: {
    id: String,
    placeholder: String,
    label: String,
    name: String,
    type: { type: String, default: "text" },
    value: String,
    disabled: Boolean,
  },
};
</script>