<template>
  <button
    :class="`px-8 py-2 active:ring-0 rounded-full hover:font-medium hover:text-green-400 ${
      selected ? 'shadow-lg font-medium text-green-400 bg-white' : ''
    }`"
  >
    {{ title }}
  </button>
</template>
<script>
export default {
  name: "Item",
  props: {
    title: String,
    selected: Boolean,
  },
};
</script>