<template>
  <div class="flex flex-col items-center h-screen p-4 bg-gray-50">
    <h3 class="text-2xl mb-4 text-green-400">{{ title }}</h3>
    <div class="flex flex-col space-y-3">
      <Item
        v-for="(item, index) in items"
        :title="item[titleKey]"
        :key="item"
        :selected="index === selectedIndex"
        @click="() => handleClick(item, index)"
      >
      </Item>
    </div>
  </div>
</template>
<script>
import Item from "./Item.vue";

export default {
  name: "ItemList",
  // data() {
  //   return {
  //     selectedIndex: -1,
  //   };
  // },
  props: {
    items: Array,
    title: String,
    onSelect: Function,
    selectedIndex: Number,
    titleKey: {
      type: String,
      default: "title",
    },
  },
  components: {
    Item,
  },
  methods: {
    handleClick(selectedEvent, index) {
      this.$emit("onSelect", { selectedEvent, index });
      // this.selectedIndex = index;
    },
  },
};
</script>