<template>
  <div class="flex flex-col">
    <label class="font-semibold">{{ label }}</label>
    <select
      :value="value"
      :name="name"
      class="rounded-2xl focus:ring-2 focus:ring-green-400 focus:border-transparent p-1 px-2 text-sm border-gray-200"
    >
      <option
        v-for="option in options"
        :key="option[idKey] || option"
        :value="option[idKey] || option"
      >
        {{ option[valueKey] || option }}
      </option>
    </select>
  </div>
</template>
<script>
export default {
  name: "Select",
  props: {
    name: String,
    label: String,
    options: { type: Array, default: () => [] },
    idKey: { type: String, default: "id" },
    valueKey: { type: String, default: "value" },
    value: String,
  },
};
</script>