<template>
  <div class="flex flex-col">
    <label class="font-semibold">{{ label }}</label>
    <textarea
      :name="name"
      :placeholder="placeholder"
      :value="value"
      class="rounded-2xl focus:ring-2 focus:ring-green-400 focus:border-transparent p-1 px-2 text-sm border-gray-200"
    />
  </div>
</template>
<script>
export default {
  name: "Textarea",
  props: {
    id: String,
    placeholder: String,
    label: String,
    name: String,
    value: String,
  },
};
</script>